@keyframes expand {
  to {
    transform: scale(1);
  }
}


@keyframes shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.group:hover .weather-icon {
  animation: shrink 1s ease-in-out;
}